.sidenav {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: calc(100vh - 70px);
  transition: 0.3s all;

  &[data-toggle="0"] {
    width: 0;
    padding: 0;
  }

  &[data-toggle="1"] {
    width: 300px;
    padding: 15px;
  }

  &__level-1 {
    overflow-y: auto;
    height: 100%;
  }

  &__level-2 {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  &__module {
    span {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__topic {
    padding: 10px;
  }
}
