.home {
  flex: 1;
  overflow-y: auto;
  padding-right: 30px;

  &__head {
    margin-bottom: 30px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__paragraph {
    margin-bottom: 10px;
  }
}
