.module {
  flex: 1;
  overflow-y: auto;
  padding-right: 30px;

  &__wrapper {
    margin-bottom: 20px;
  }
  &__head {
    margin-bottom: 30px;
  }
  &__title {
    display: inline-block;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__paragraph, &__description {
    line-height: 150%;
  }
}
