$color-blue: #1e3a8a; // Primária
$color-gray: #d1d5db; // Secundária
$color-green: #34d399; // Destaque

$color-blue-80: #1e3a8acc; // 80%
$color-blue-60: #1e3a8a99; // 60%
$color-blue-40: #1e3a8a66; // 40%
$color-blue-20: #1e3a8a33; // 20%

$color-gray-80: #d1d5dbcc; // 80%
$color-gray-60: #d1d5db99; // 60%
$color-gray-40: #d1d5db66; // 40%
$color-gray-20: #d1d5db33; // 20%

$color-green-80: #34d399cc; // 80%
$color-green-60: #34d39999; // 60%
$color-green-40: #34d39966; // 40%
$color-green-20: #34d39933; // 20%


$light: 300;
$regular: 400;
$bold: 700;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;

$m: 468px; // Mobile
$t: 991px; // Tablet
$d: 1025px; // Desktop

