@use "./variables" as *;

:root {
  --color--1: #{$color-blue}; // Primária
  --color--2: #{$color-gray}; // Secundária
  --color--3: #{$color-green}; // Destaque

  --color--1-80: #{$color-blue-80}; // 80%
  --color--1-60: #{$color-blue-60}; // 60%
  --color--1-40: #{$color-blue-40}; // 40%
  --color--1-20: #{$color-blue-20}; // 20%

  --color--2-80: #{$color-gray-80}; // 80%
  --color--2-60: #{$color-gray-60}; // 60%
  --color--2-40: #{$color-gray-40}; // 40%
  --color--2-20: #{$color-gray-20}; // 20%

  --color--3-80: #{$color-green-80}; // 80%
  --color--3-60: #{$color-green-60}; // 60%
  --color--3-40: #{$color-green-40}; // 40%
  --color--3-20: #{$color-green-20}; // 20%
}

html[data-theme="dark"] {
  --color-1: #{$color-green};
  --color-2: #{$color-gray};
  --color-3: #{$color-blue};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: var(--color--2-80);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  color: inherit;
}

// Styles
a[data-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.bg-1 {
  background: var(--color--1);
}

.bg-2 {
  background: var(--color--2);
}

.bg-3 {
  background: var(--color--3);
}

.border-color-1 {
  border-color: var(--color--1-40);
}

.border-color-2 {
  border-color: var(--color--2-40);
}

.border-color-3 {
  border-color: var(--color--3-40);
}

.icon-color-1 {
  color: var(--color--1);
}

.icon-color-2 {
  color: var(--color--2);
}

.icon-color-3 {
  color: var(--color--3);
}

.section {
  height: calc(100vh - 70px);
  gap: 40px;
  padding-right: 40px;
  transition: 0.3s all;
}

.section[data-toggle="1"] {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.section[data-toggle="0"] {
  display: grid;
  grid-template-columns: 0 1fr;
}

.container {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
  margin: 40px 0 0;
  background-color: var(--color--2);
  border: 1px solid var(--color--1-40);
  border-radius: 4px;
  padding: 30px;
}

@media (max-width: $t) {
  .container {
    padding: 0 10px;
  }
}
