:root {
  --color-1: #1e3a8a;
  --color-2: #34d399;
  --color-3: #d1d5db;
}

html[data-theme="dark"] {
  --color-1: #d1d5db;
  --color-2: #34d399;
  --color-3: #1e3a8a;
}

$light: 300;
$regular: 400;
$bold: 700;

$font-size-xs: 12px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;
$font-size-giant: 36px;

$mm: 320px; // MOBILE MINI
$m: 468px; // MOBILE
$st: 768px; // SMALL TABLET
$t: 991px; // TABLET
$d: 1025px; // DESKTOP
$l: 1365px; // LARGE
$w: 1920px; // WIDE
$uw: 2560px; // ULTRAWIDE

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  color: var(--color-2);
  background: #ccc;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  color: inherit;
}

// Styles
a[data-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.bg-1 {
  background: var(--color-1);
}

.bg-2 {
  background: var(--color-2);
}

.bg-3 {
  background: var(--color-3);
}

.section {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: calc(100vh - 70px);
  gap: 40px;
  padding-right: 40px;
}

.container {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
  margin: 40px 0 0;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 30px;
}

@media (max-width: $t) {
  .container {
    padding: 0 10px;
  }
}
