:root {
  --color-1: #1e3a8a;
  --color-2: #34d399;
  --color-3: #d1d5db;
}

html[data-theme="dark"] {
  --color-1: #d1d5db;
  --color-2: #34d399;
  --color-3: #1e3a8a;
}

$light: 300;
$regular: 400;
$bold: 700;

$font-size-xs: 12px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;
$font-size-giant: 36px;

$mm: 320px; // MOBILE MINI
$m: 468px; // MOBILE
$st: 768px; // SMALL TABLET
$t: 991px; // TABLET
$d: 1025px; // DESKTOP
$l: 1365px; // LARGE
$w: 1920px; // WIDE
$uw: 2560px; // ULTRAWIDE

body {
  font-family: sans-serif;
  margin: 0;
  color: var(--color-2);
  background: var(--color-1);
}

button {
  all: unset;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  outline: 2px solid var(--color-3);
  border-radius: 0.75rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bg-1 {
  background: var(--color-1);
}

.bg-2 {
  background: var(--color-2);
}

.bg-3 {
  background: var(--color-3);
}

.section {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.container {
  width: 100%;
  background-color: yellow;
}

@media (max-width: $t) {
  .container {
    padding: 0 10px;
  }
}
